<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>책 목록</title>
</head>
<body>
<h1>[[${book.bookName}]]의 단어 목록</h1>
<button><a th:href="@{/{bookId}/vocabularies/new (bookId=${book.id})}">새 단어 등록</a></button>
<div class ="vocabulary">
<ul th:each="vo: ${list}">
    <li>
        <div class ="english">
            [[${vo.english}]]
        </div>
        <div class = "korean">[[${vo.korean}]]</div>
        <div class = "remove">
            <form id = "delete_form" method="post" th:action="@{/{bookId}/vocabularyList/{vocabularyId}/delete (bookId=${book.id}, vocabularyId=${vo.id})}">
                <input type="hidden" name ="_method" value="delete"/>
                <button>단어 삭제</button>
            </form>
        </div>
        <div class = "update">
            <button><a th:href="@{/{bookId}/vocabularyList/{vocabularyId}/update (bookId=${book.id}, vocabularyId=${vo.id})}">단어 수정</a></button>
        </div>
    </li>
</ul>
</div>

<div class="paging">
<ul th:each="pL : ${pageIndex}">
    <a th:href="@{/{bookId}/{index}/vocabularyList (bookId=${book.id}, index=${pL})}">[[${pL}]]</a>
</ul>
</div>

</body>
</html>