body {
    margin-top: 2%;
    margin-left: 1%;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.newVocabulary {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

.vocabulary {
    margin-bottom: 400px;
}

.vocabulary li {
    display: flex;
    list-style-type: none;
    justify-content: left;
    height: 100px;

}

.vocabulary .lang {
    margin-right: 500px;
}


.vocabulary .lang .english {
    margin-right: 50px;
    margin-bottom: 30px;
}

.vocabulary .formButtons {
    padding: 0px 0px;
    height: 5px;
}

.vocabulary .formButtons button {
    color: white;
    background-color: #3498db;
    border: none;
    cursor: pointer;
}


.vocabulary .formButtons .remove {
    margin-right: 50px;
    margin-bottom: 30px;
}
